<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/sub.css">
    <title>User Page</title>
</head>

<body>
    <div class="admin">
        <header class="admin-header">
            <a href="#" class="admin-logo">
                <h2>Dashboard</h2>
            </a>
            <div class="search">
                
                <input class="searchBox" type="search" name="search" placeholder="User...">
                 <li class="myButton">
                    Search
                </li>
            </div>
        </header>
        <nav class="sidebar">
            <ul class="menu">
                <li class="menu-item">
                    <a href="../../index.html" class="menu-link">Home</a>
                </li>
                <li class="menu-item">
                    <a href="product.html" class="menu-link">Products</a>
                </li>
                <li class="menu-item">
                    <a href="category.html" class="menu-link">Categories</a>
                </li>
                <li class="menu-item">
                    <a href="store.html" class="menu-link">Store</a>
                </li>
                <li class="menu-item">
                    <a href="user.html" class="menu-link">Users</a>
                </li>
                 <li class="menu-item">
                    <a href="login.html" class="menu-link">Logout</a>
                </li>
                
            </ul>
        </nav>
        <main>
            <div class="tite">
                <h1>New Sale</h1>
            </div>
            <div class="adduser">
            <table>
                    <tr>
                        <label for="date">Date of Sale</label>
                        <input type="date" id="cname" name="date" required>

                    </tr>

                    <tr>
                        <label for="uname">Customer Name</label>
                        <input type="text" id="avail" name="username" required>
                    </tr>

                    <tr>
                        <label for="status">Product Name</label>
                        <select id="status" name="status">
                        <option value="#"></option>
                        <option value="#">WESSEX</option>
                        <option value="#">VESSEX</option>
                        </select>
                    </tr>
                    <tr>
                        
                        <label for="qty">Quantity</label>
                        <input type="number" id="price" name="qty" required>
                    </tr>
                    <tr>
                        <label for="amount">     Amount</label>
                        <input type="number" id="size" name="amount" required>
                    </tr>
                    <input type="submit" name="action" value="Create Sale" class="modelinput"> 
            </table>

        </div>
     
    </body>

</html>

