<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/dash.css">
	<title>Store Manager | Categories </title>
</head>

<body>

   <nav>
        <div class="front-align">
        <i class="fas fa-align-justify fa-2x"></i>
        <div class="logo"> BigSale</div>
        </div>
        <form>

        <input type="text" placeholder="Search for a product">
        </form>
          </div>
       
    </nav>
                                                                                                                                                                                                                                                                                                                                                                                         
        <div class="dash">
            <div class="dash-items products">
                <ul>
                <i class="fas fa-people-carry fa-4x"></i> 
                </ul>
                <div class="info">
                    <a href="product.html"><h3>Products</h3></a>
                    <p>Operations for Products</p>
                </div>

            </div>
            <div class="dash-items">
                <ul>
               <i class="fas fa-calendar fa-4x"></i>
                </ul>
                <div class="info">
                   <a href="category.html"> <h3>Category</h3></a>
                    <p>Operations for Categories</p>
                </div>

            </div>
            <div class="dash-items">
                <ul>
               <i class="fas fa-store fa-4x"></i>
                </ul>
                <div class="info">
                    <a href="store.html"><h3>Store</h3></a>
                    <p>Operations for Sales</p>
                </div>

            </div>
            <div class="dash-items">
                <ul>
               <i class="fas fa-bars fa-4x"></i>
                </ul>
                <div class="info">
                    <a href="store_add.html"><h3>Store Records</h3></a>
                    <p>Operations for Sales Records</p>
                </div>

            </div>

            <div class="dash-items">
                <ul>
                <i class="fas fa-user-tie fa-4x"></i>
                </ul>
                <div class="info">
                    <a href="user.html"><h3>Users</h3></a>
                    <p>Operations for Users</p>
                </div>

            </div>
        </div>
    </div>

    </body>