<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <form id="loginform"></form>

    <header>
        <h2><a href="../../index.html">Store Manager</a></h2>
        <nav>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="./signup.html">Register</a></li>
        </nav>
    </header>


    <section class="main">
        <div class="background-image" style="background-image: url(UI/images/back.jpg);"></div>
        <div class="container">
            <div class="head">Login</div>
            <div class="login-item">
                <form action="#" id="login-form" class="form form-signup" onsubmit="login()">
                    <div class="form-field">
                        <input class="form-input" type="text" id="login-username" placeholder=" Enter Username" required>
                    </div>

                    <div class="form-field">
                        <input class="form-input" type="password" id="login-password" placeholder="Password" required>
                    </div>
                    

                    <div class="form-field">
                        <input type="submit" value="Login">
                    </div><br>
                    
                    <p><a href="#"><class="forgot"> Forgot your password?</a></p><br><br><br>

                </form>
            </div>
        </div>

    </section>

</body>
 
 <script src="../js/login.js"></script>

</html>