<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup Page</title>
     <link rel="stylesheet" href="../css/style.css">


</head>

<body>

    <header>
        <h2><a href="../../index.html">Store Manager</a></h2>
        <nav>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="./login.html">Login</a></li>
        </nav>
    </header>

    <section class="main">
        <div class="background-image" style="background-image: url(UI/images/back.jpg);"></div>
        <div class="container">
            <div class="head">Sign Up</div>
            <div class="signup-item">
                <form action="#" id="signup-form" class="form form-signup" onsubmit="signup()">
                    <div class="form-field">
                        <input id="sign-username" class="form-input" type="text" placeholder="Username" required>
                    </div>

                    <div class="form-field">
                        <input id="email-address" class="form-input" type="email" placeholder="Email" required>
                    </div>

                    <div class="form-field">
                        <input id="sign-password" class="form-input" type="password" placeholder="Password" required>
                    </div>

                    <div class="form-field">
                        <input id="confirm-pass" class="form-input" type="password" placeholder="Confirm Password" required>
                    </div>

                    <div class="form-field">
                        <input type="submit" value="Sign Up">
                    </div>
                    <p><a href="login.html"><class="forgot"> Already Registered?</a></p><br><br>
                </form>
            </div>
        </div>

    </section>

</body>
<script src="../js/signup.js"></script>

</html>
 