<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/dash.css">
	<title>Store Manager | add-product </title>
</head>

<body>

 <nav>
        <div class="front-align">
        <i class="fas fa-align-justify fa-2x"></i>
        <div class="logo"> BigSale</div>
        </div>
        <form>

        <input type="text" placeholder="Search for a product">
        <button><img src="../assets/images/search.png"></button>
        </form>

        <div class="dropdown">
            <img class="prof" src="../assets/images/prof.svg">
            <div class="dropdown-content">
              <a href="signin.html">Logout</a>
            
            </div>
          </div>
       
    </nav>
            <div class="content-container">
            <div class="head-actions">
              <div class="head-arrow">
            <a href="store.html"><button><i class="fas fa-arrow-left fa-2x"></i></button></a>
            </div>
             <h3 class="head-left">Sale</h3>
            </div>
        
            
            <div class="table-list">
                <table>
                    <ul><h2>products</h2></ul>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="detail">
                            <td>Django, Third Edition by Vance Williams</td>
                            <td>Education</td>
                            <td>10</td> 
                            <td>$39.99</td>
                        </tr>
                         <tr class="detail">
                            <td>Django, Third Edition by Vance Williams</td>
                            <td>Education</td>
                            <td>10</td> 
                            <td>$39.99</td>
                        </tr>
                    </tbody>
                    
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td>79.98</td>
                        <tr>
                    
                </table> 
            </div>
        <div>
        
            <div class="table-list">
                <div class="card">
                <h3>Attendant</h3>
                <p>Name: Pius</p>

                <h3>Customer</h3>
                <p>Name: kevin</p>

                 <h3>Date Recorded</h3>
                <p>Date: 09/11/2018</p>
                </div>
            </div>
            
     
</body>
<script src="../assets/js/app.js"> </script>

</html>