<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/sub.css">
    <title>User Page</title>
</head>

<body>
    <div class="admin">
        <header class="admin-header">
            <a href="#" class="admin-logo">
                <h2>Dashboard</h2>
            </a>
            <div class="search">
                
                <input class="searchBox" type="search" name="search" placeholder="User...">
                 <li class="myButton">
                    Search
                </li>
            </div>
        </header>
        <nav class="sidebar">
            <ul class="menu">
                <li class="menu-item">
                    <a href="../../index.html" class="menu-link">Home</a>
                </li>
                <li class="menu-item">
                    <a href="product.html" class="menu-link">Products</a>
                </li>
                <li class="menu-item">
                    <a href="category.html" class="menu-link">Categories</a>
                </li>
                <li class="menu-item">
                    <a href="store.html" class="menu-link">Store</a>
                </li>
                <li class="menu-item">
                    <a href="user.html" class="menu-link">Users</a>
                </li>
                 <li class="menu-item">
                    <a href="login.html" class="menu-link">Logout</a>
                </li>
                
            </ul>
        </nav>
        <main>
            <div class="tite">
                <h1>New User</h1>
            </div>

            <li class="myButton">
                    <a href="add_user.html">Add User</a>
                </li>


            <table>
                <caption>Users</caption>
                <thead>
                    <tr>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Full">Kinara Nyakaru</td>
                        <td data-label="Email">Kin11@gmail.com</td>
                        <td data-label="Role">Admin</td>
                    </tr>

                    <tr>
                        <td data-label="Full">Dan Maina</td>
                        <td data-label="Email">Dangamer@email.com</td>
                        <td data-label="Role">Store Attendant</td>
                    </tr>

                    <tr>
                        <td data-label="Full">Akidiva Marlone</td>
                        <td data-label="Email">Akidav@email.com</td>
                        <td data-label="Role">Store Attendant</td>
                    </tr>

                </tbody>
            </table>
        </main>
    </div>
</body>

</html>